{% block page_header %}
<h2>Сброс пароля</h2>
{% endblock page_header %}

{% block content %}
    <h1>Сброс пароля от сервиса пробития чеков</h1>
    {% if validlink %}
        <p>Пожалуйста введите Ваш новый пароль дважды:</p>
        <form action="." method="post">
             {% csrf_token %}
             {% bootstrap_form form %}
             {% buttons %}
               <button name="submit" class="btn btn-primary">Изменить пароль</button>
             {% endbuttons %}
        </form>
    {% else %}
        <p>Ссылка для сброса пароля неверная, возможно, по причине повторного использования.
            Пожалуйста, пройдите процедуру восстановления пароля повторно. </p>
    {% endif %}

{% endblock content %}