{% extends "kkt_check/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h2>Сброс пароля</h2>
{% endblock page_header %}

{% block content %}
    <h1>Забыли свой пароль?</h1>
    <p>Введите адрес электронной почты для отправки ссылки восстановления пароля</p>
    <form action="." method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button name="submit" class="btn btn-primary">Отправить e-mail</button>
        {% endbuttons %}
    </form>
{% endblock content %}