{% extends "kkt_check/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h1>Оплата тарифа кассы кодом активации</h1>
{% endblock page_header %}
{% block content %}
<form action="{% url 'partners:payment_contract' contract.id %}" method='post'>
  {% csrf_token %}
  {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-primary">Оплатить кодом</button>
                <a href="{% url 'partners:view_contract' contract.id %}" class="btn btn-danger">Отмена</a>
            {% endbuttons %}
</form>
{% endblock content %}