{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <title>Менеджер чеков ККТ v0.1</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/sticky-footer.css'%}" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
      <a class="navbar-brand" href="{% url 'kkt_check:index'%}">
        Менеджер чеков ККТ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
         data-target="#navbarCollapse" aria-controls="navbarCollapse"
         aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kkt_check:kktlist'%}">
              Список кассовых аппаратов</a></li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bot:botusers_list'%}">
              Телеграмм сотрудники</a></li>
        </ul>
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated and user.profile.client_status == 1 %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'partners:contracts'%}">
                Клиенты</a></li>
          {% endif %}
        </ul>
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated and user.profile.client_status == 1 %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'partners:view_payment_codes'%}">
                Коды активации</a></li>
          {% endif %}
        </ul>
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated and user.profile.client_status == 2 %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'partners:partners'%}">
                Партнеры</a></li>
          {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text"> Добро пожаловать, <a href="{% url 'users:edit' %}" title = "Профиль">{{ user.username }}</a>.</span>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
      {% for message in messages %}
        <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
            {{ message }}
        </div>
      {% endfor %}

      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>

      <div>
        {% block content %}{% endblock content %}
      </div>
    </main>
        <!-- Footer -->
<footer class="page-footer font-small blue pt-4 card-footer sticky-top mt-auto">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">КАССБОТ</h5>
        <p>Разработка и поддержка сервиса<br> ООО "Пятый элемент"<br> г. Вологда</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Контакты</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://t.me/+oKYPimVKgmtmZGQy">Телеграмм канал техподдержки</a>
          </li>
          <li>
            <a href="tel:+79212381251">Телефон: +7-921-238-12-51</a>
          </li>
          <li>
            <a href="mailto:info@5element35.ru">info@5element35.ru</a>
          </li>
          <li>
            <a href="http://vk.com/5element35">ВКонтакте</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Инструкции</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'users:clientinstruction' %}">Для клиентов</a>
          </li>
          <li>
            {% if user.is_authenticated and user.profile.client_status == 1 %}
              <a href="{% url 'users:partnerinstruction' %}">Для партнеров</a>
            {% endif %}
          </li>
          <li>
            <a href="https://cloud.mail.ru/public/wTL2/62AaxjrMq">Скачать</a>
          </li>
          <li>
            <a href="https://t.me/KassovyiBOT?start=666">Телеграмм БОТ</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="http://5element35.ru/"> 5element35.ru</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </body>
</html>