{% extends "kkt_check/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h2><a href="{% url 'kkt_check:kkt' kkt.id %}">{{ kkt }}</a> <br>
    <small> Редактирование информации чека: </small>
</h2>
{% endblock page_header %}
{% block content %}
    <form action="{% url 'kkt_check:edit_check_kkt' check_kkt.id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}

        {% if check_kkt.status == 'Добавлен' %}
          {% buttons %}
                <button name="submit" class="btn btn-primary">Сохранить изменения</button>
          {% endbuttons %}
        {% else %}
          <h3><p> Редактирование запрещено статусом чека</p></h3>
        {% endif %}
    </form>
<p>Позиции в чеке:</p>
<p>
    {% if check_kkt.status == 'Добавлен' %}
        <a href="{% url 'kkt_check:new_good_check_kkt' check_kkt.id %}">Добавить позицию в чек</a>
    {% endif %}
</p>
  <ul>
    {% for good in kkt_check_goods %}
    <li>
        <p>{{ good }} </p>
        <p>{{ check.product_type_code|linebreaks }}</p>
        <p>
          {% if check_kkt.status == 'Добавлен' %}
            <a href="{% url 'kkt_check:edit_good_check_kkt' good.id %}">Редактировать позицию</a>
          {% else %}
            <a href="{% url 'kkt_check:edit_good_check_kkt' good.id %}">Просмотр позиции</a>
          {% endif %}

        </p>
    </li>
   {% empty %}
      <li>Позиции в этом чеке отсутствуют</li>
    {% endfor %}
  </ul>
{% endblock content %}