{% extends "kkt_check/base.html" %}
{% load static %}
{% block page_header %}
  <div class='jumbotron'>
    <h2 class="display-3">На этом портале можно управлять кассами и печатью чеков через месседжеры</h2>
    <p class="lead">Зарегистрируйтесь. Добавьте кассы. Создайте чеки на сайте или
      с помощью телеграмм бота.</p>
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
    role="button">Регистрация &raquo;</a>
  </div>
{% endblock page_header %}
{% block content %}
  <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8h0VquOzeKU" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </center>
<div class='jumbotron'>


    <h3 class="display-5">Использование сервиса позволяет сотруднику на выезде посредством отправки
      сообщений телеграмм боту провести
      регистрацию чеков прихода на контрольно-кассовой технике установленной в офисе.</h3>
    <p class="lead">Зарегистрированная в налоговой инспекции касса в дежурном режиме ожидает команды на
      проведение операции фискализации документа поступления денежных средств согласно требованиям закона.
      При получении сообщения от сотрудника на выезде с информацией о составе кассового чека на кассе выходит бумажный
      экземпляр документа. Также чем может быть отправлен клиенту на указанный сотрудником адрес электронной почты или
      абонентский номер мобильного телефона. <br>
      Сотрудник на своем телефоне сможет продемонстрировать QR-код чека, а также отправить на мобильный принтер
      сам документ для покупателя.
      <hr class="my-2">
      <h3 class="display-5">Преимущества перед использованием мобильных кассовых аппаратов:</h3>
      <ul class="lead">На одной зарегистрированной кассе в офисе могут формировать чеки до 50 мобильных сотрудников,
        в итоге затраты на замену фискальных накопителей, услуги оператора фискальных данных уменьшаются до одной
        единицы ККТ;</ul>
      <ul class="lead">Затраты на приобретение и обслуживание мобильного термопринтера чеков в 10 раз дешевле, чем самой
        простой онлайн кассы.</ul>
      <ul class="lead">На руках у сотрудников оборудование (смартфон, мобильный принтер, автономный банковский
        терминал), которые легко можно заменить в случае поломки.</ul>
      <hr class="my-2">
    <h3 class="display-5">Модели поддерживаемой кассовой техники:</h3>
      <ol class="lead">
        <li>Фискальные регистраторы Штрих-М (с прошивкой ФФД 1.05)</li>
        <li>Кнопочные кассы Меркурий (c прошивкой ФФД 1.05 свежее декабря 2020 года)</li>
        <li>Смарт-терминал Нева-01Ф (в формате документов ФФД 1.05)</li>
        <li>Фискальные регистраторы Атол (с драйвером версии 10.х)</li>
      </ol>
      <hr class="my-2">
    <h3 class="display-5">Порядок действия мобильного сотрудника для формирования чека</h3>
    <ol class="lead">
      <li>Ввод логин пароля в телеграмме</li>
      <li>Ответы на вопросы телеграмм бота (наименование, сумма, наличная- безналичная оплата)</li>
      <li>Демонстрации QR-кода квитанции по оплате в приложении банка</li>
      <li>Получение информации о зарегистрированном чеке</li>
      <li>Печать чека на мобильный принтер</li>
    </ol>
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
    role="button">Регистрация &raquo;</a>
  </div>
<div class="text-center">
  <img class="w-50 mx-auto d-block" src="{% static 'img/kassbot.gif' %}" alt="Демонстрация работы телеграмм бота">
</div>
{% endblock content %}