{% extends "kkt_check/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h2>Вход в личный кабинет</h2>
{% endblock page_header %}

{% block content %}

  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">Вход</button>
    {% endbuttons %}
    <p><a href="{% url 'reset_password' %}">Забыли пароль?</a></p>
    <input type="hidden" name="next"
    value="{% url 'kkt_check:index' %}" />
  </form>
{% endblock content %}